{% extends 'base.html' %} {% block title %} Register {% endblock %} {% block
nav%} Skin HealthCare Applications {% endblock %} {% block content %}
<body class="text-center">
  <div class="container">
    <form class="form-register" style="color: white;" method="post">
      {{ form.hidden_tag() }}
      <img class="mb-4 img-reg" src="./../static/img/medical-team.png" alt="" />
      <h1 class="h3 mb-3 font-weight-normal">
        Please Create your Account
      </h1>
      <br />
      {{ form.username.label() }} {{ form.username(class="form-control",
      placeholder="Username") }} {{ form.email.label() }} {{
      form.email(class="form-control", placeholder="Username") }} {{
      form.password.label() }} {{ form.password(class="form-control",
      placeholder="Password") }} {{ form.confirm_password.label() }} {{
      form.confirm_password(class="form-control", placeholder="Confirm
      Password") }}
      <br />
      {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>
  </div>
</body>
{% endblock %}
